<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta X-Content-Type-Options= nosniff />
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' 'unsafe-eval' " />
    <title>test DOM</title>
    
    <link rel="stylesheet" href="static/style.css" type="text/css" />
    <link rel="stylesheet" href="static/tooltip.css" type="text/css" />
    <link rel="icon" type="image/png" href="./static/resources/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="static/bootstrap/dist/css/bootstrap.min.css" />
    <script type="text/javascript" src="node/jquery/dist/jquery.js"></script>
    <!-- <script type="text/javascript" src="node/apexcharts/dist/apexcharts.js"></script>
    <script type="module" src="/tests/apex.js"></script> -->
    <script type="text/javascript" src="node/highcharts/highcharts.js"></script>
    
    
</meta>
</head>

<body>
    <div class="chart-container" style="position: relative;">
        <div id="chart" width='600' height='400'></div>
    </div>
    <script src="node/socket.io/client-dist/socket.io.js"></script>
    <script>
        var socket = io()
    </script>

    <script type="module" src="/tests/highcharts.js"></script>
    
</body>
</html>