<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta X-Content-Type-Options=n osniff />
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' 'unsafe-eval' " />
    <title>Dosages</title>
    <link rel="stylesheet" href="static/style.css" type="text/css" />
    <link rel="stylesheet" href="static/tooltip.css" type="text/css" />
    <link rel="icon" type="image/png" href="./static/resources/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="static/bootstrap/dist/css/bootstrap.min.css" />
    <script type="text/javascript" src="node/ocanvas/build/dist/latest/ocanvas.js"></script>
    <script type="text/javascript" src="node/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="node/jquery-validation/dist/jquery.validate.js"></script>
    <script type="text/javascript" src="node/chart.js/dist/chart.js"></script>
    <script type="text/javascript" src='static/bootstrap/dist/js/bootstrap.bundle.min.js'></script>
    <script type="text/javascript" id="MathJax-script" async src="./static/mathjax/es5/tex-mml-chtml.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    
</head>

<body>
    <div class="container-fluid">
        <ul class='nav nav-tabs'>
            <li class='nav-item'>
                <a id="mnu_introduction" class="nav-link active" data-toggle='tab' href=' #introduction'> Introduction</a>
            </li>
            <li class='nav-item'>
                <a id="mnu_especes" class="nav-link" data-toggle='tab' href='#especes'> Espèces</a>
            </li>
            <li class='nav-item'>
                <a id="mnu_dosage" class="nav-link disabled disabledTab" data-toggle='tab' href='#dosage'> Dosage</a>
            </li>
            <li class='nav-item'>
                <a id='mnu_problem' class="nav-link disabled disabledTab" data-toggle='tab' href='#problem'>Problèmes</a>
            </li>
            <li class='nav-item'>
                <a class="nav-link" data-toggle='tab' href='#aide'> Aide</a>
            </li>
        </ul>
        <div class='tab-content'>
            <div class='tab-pane fade show active' id='introduction'>
            </div>
            <div class='tab-pane fade' id='especes'>
            </div>
            <div class='tab-pane fade  ' id='dosage'>
            </div>
            <div class='tab-pane fade show' id='problem'>
            </div>
            <div class='tab-pane fade' id='aide'>
            </div>
        </div>
        <!-- Chargement des pages -->
        <script type="module" src='../src/environnement/globals.js'></script>
        <script type="module" src='../src/introduction/intro.ui.js'></script>
        <script type="module" src='../src/aide/aide.ui.js'></script>

        <script type="module" src='../src/especes/especes.ui.js'></script>

        <!-- <script type="module" src='../src/dosage/dosage.js'></script> -->
        <!-- <script type="module" src='../src/problem/problem.ui.js'></script> -->
        <!-- <script type="module" src='../src/modules/utils.js'></script> -->
        <!-- <script type="module" src='../src/dosage/ui/infos.js'></script> -->


        <script type="text/javascript">
            window.onload = function() {

                var $ = window.jQuery
                $('[data-toggle="tooltip"]').tooltip()
            }
        </script>
    </div>

</body>

</html>