.menu-item{
  display: table-cell;
  padding: 0px 1px !important;
  margin: 0px 0px !important;
}

.menu-item_label{
  padding: 0px 4px
}

.menu-item-nodisplay{
  display: none;
  padding: 0px !important;
}

.menu-item-row{
  line-height: 2.0em;
  background-color: rgb(245, 246, 248);
  padding: 0px;
}

.menu-item-row:hover{
  background-color:rgb(191, 212, 221)
}

.menu-icone{
  width: 62%;
  height: 90%;
  margin: 2%;
  display: list-item;
}

.menu{
  position:absolute; 
  top:0; 
  left: 15em; 
  width: 16em; 
}

.menu-content{
  margin: 0px 5px;
  opacity: 1;
  z-index:1;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  /* display: none; */
}