.mtooltip {
    text-decoration: none;
    position: relative;
}

.mtooltip span {
    display: none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    color: black;
    background: white;
    
}

.mtooltip span img {
    float: left;
    margin: 0px 8px 8px 0;
}

.mtooltip:hover span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    border: 1px solid black;
    overflow: hidden;
    padding: 2px;
    width:max-content;
    margin-top: 2em;
    font-size: 80%;
    line-height: 140%
}